.footer {
    /* height: 200px;
    display: flex;
    margin-top: 0%;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    background-color: aquamarine; */
    grid-row-start: 2;
    grid-row-end: 3;
  }